svg {
  width: 100%;
  height: 200px;
  margin: 20px auto;
  display: inline-block;
}

.loading {
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
